# Python
pycache/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# Logs & results
logs/
results/
*.log

# Cache
.ipynb_checkpoints/
*.DS_Store
*.swp
*.swo
*.tmp

# Python packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# IDE
.vscode/
.idea/